  <div class="card-product <%= message.sentiment %>">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
    <div class="card-product-infos">
      <p><%= time_ago_in_words(message.conversation.message_received_at)  %> ago </p>
      <h6><%= message.message.truncate(75, separator: ' ') %></h6>
    </div>
  </div>
