<div>
  <div class="header">
    <ul class="list-inline tabs-underlined">
      <li>
        <a href="#" class="tab-underlined active">All</a>
      </li>
      <li>
        <a href="#" class="tab-underlined">Positive</a>
      </li>
      <li>
        <a href="#" class="tab-underlined">Negative</a>
      </li>
    </ul>
  </div>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
    <div class="card-product-infos">
      <h6>25 min ago</h6>
      <p>I'm in front of the door and I can't get in...</p>
    </div>
  </div>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
    <div class="card-product-infos">
      <h6>time_ago_in_words</h6>
      <p>message.truncate(27, separator: ' ')</p>
    </div>
  </div>
</div>
